/* Menubar css */
.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
  justify-content: center;
  list-style-type: none;
  font-size: 25px;
}

li {
  list-style: none;
  text-decoration: none;
  justify-items: center;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
li:hover {
  border-bottom: 2px solid aqua;
}

li a {
  text-decoration: none;
}

/* cards */

.card-container {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card1 {
  width: 30%;
  padding: 5px;
    border: 1px solid black;

  border-radius: 5px;
}
.card2 {
  width: 30%;
  padding: 5px;
  border: 1px solid black;
    border-radius: 5px;

}
