.counter {
  margin-top: 20%;
}

/* Menubar css */
.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
  justify-content: center;
  list-style-type: none;
  font-size: 25px;
}

li {
  list-style: none;
  text-decoration: none;
  justify-items: center;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
li:hover {
  border-bottom: 2px solid aqua;
}

li a {
  text-decoration: none;
}

/* cards */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding: 15px;
  gap: 5px;
  flex-wrap: wrap;
}

.card-container {
  width: 30%;
  padding: 20px;
  border: 2px solid pink;
  border-radius: 20px;
  background-color: darkgray;
}

.title {
  color: aliceblue;
}
.image {
  margin: auto;
  font-size: 45px;
  width: 50px;
  border: 1px solid white;
  background-color: black;
  color: aliceblue;
  border-radius: 100%;
}

.description {
  font-size: 20px;
}

.read-more {
  border: 1px solid blue;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: blue;
}

/* Mobile Devices: 320px – 480px */
@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 15px;
    gap: 15px;
  }

  .card-container {
    width: auto;
    padding: 20px;
    border: 2px solid pink;
    border-radius: 20px;
    background-color: darkgray;
  }

  .title {
    color: aliceblue;
    font-size: 25px;
  }
  .image {
    margin: auto;
    font-size: 35px;
    width: 40px;
    border: 1px solid white;
    background-color: black;
    color: aliceblue;
    border-radius: 100%;
  }

  .description {
    font-size: 15px;
  }

  .read-more {
    border: 1px solid blue;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    background-color: blue;
  }
}

/* Tablets/iPads: 481px – 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 15px;
    gap: 15px;
  }

  .card-container {
    width: auto;
    padding: 20px;
    border: 2px solid pink;
    border-radius: 20px;
    background-color: darkgray;
  }

  .title {
    color: aliceblue;
    font-size: 25px;
  }
  .image {
    margin: auto;
    font-size: 35px;
    width: 40px;
    border: 1px solid white;
    background-color: black;
    color: aliceblue;
    border-radius: 100%;
  }

  .description {
    font-size: 15px;
  }

  .read-more {
    border: 1px solid blue;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    background-color: blue;
  }
}

/* Laptops/Small Screens: 769px – 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 15px;
    gap: 15px;
  }

  .card-container {
    width: auto;
    padding: 20px;
    border: 2px solid pink;
    border-radius: 20px;
    background-color: darkgray;
  }

  .title {
    color: aliceblue;
    font-size: 25px;
  }
  .image {
    margin: auto;
    font-size: 35px;
    width: 40px;
    border: 1px solid white;
    background-color: black;
    color: aliceblue;
    border-radius: 100%;
  }

  .description {
    font-size: 15px;
  }

  .read-more {
    border: 1px solid blue;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    background-color: blue;
  }
}
